.header{
    position: relative;
   
  
    .headerContainer{
        width: 100%;
        max-width: 1024px;
        margin: 0px 20px 100px 0px;

        

        .headerList{
            gap: 40px;
            margin-bottom: 50px;

            .headerListItem{
                display: flex;
                align-items: center;
                gap: 10px;  
                
                a{
                    color:var(--white);
                    text-decoration:none;
                }
            }
            
        }
    
             .headerDesc{
                margin: 20px 0; 
            }
            .headerSearch{
                background: var(--white);
                height: 50px;
                display: flex;
                align-items: center;
                justify-content:space-around;
                border: 3px solid #feda77;
                color:var(--black);
                padding: 15px 0px;
                border-radius:5px;
                position: absolute;
                bottom:-25px;
              
                width: 100%;
                max-width: 1024px;

                .headSearchItem{
                   display: flex;
                   align-items: center;
                   gap: 10px;

                    i{
                        color:lightGreen;
                    }

                    input{
                        border:none;
                        outline:none;
                        cursor: pointer;
                    }

                    .headerSearchText{
                        color:lightGray;
                        cursor: pointer;
                    }

                    .date{
                        position: absolute;
                        top: 50px;
                        z-index: 2;
                    }
                }
            }
            .options{
                position:absolute;
                top: 50px;
                background-color:var(--white);
                color:gray;
                border-radius:5px ;
                -webkit-box-shadow: -1px 0px 10px 0px #000000; 
                box-shadow: -1px 0px 10px 0px #000000;
                z-index: 2;

                .optionItem{
                    width: 200px;

                    .optionCounter{
                        display: flex;
                        align-items: center;
                        gap: 12px;
                        color:var(--black);

                        .optionCunterButton{
                            width: 30px;
                            height: 30px;
                            border: 1px solid #0071c2;
                            color:#0071c2;
                            cursor: pointer;
                            background-color: var(--white);

                            &:disabled{
                                cursor:not-allowed;
                            }
                        }
                    }
                }
            }
    }
    .listMode{
        margin: 0px 20px 0px 0px;
    }

}