@font-face {
  font-family: 'B-Nazanin';
  src: local('B-Nazanin'), url(./fonts/B-NAZANIN.TTF) format('truetype');
}

:root{
  --white:#fff;
  --black:#000;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: "B-Nazanin";
}